html {
  height: 100%;
  width: 100%;
  margin: 0; }
  html body {
    height: 98%;
    width: inherit;
    overflow-y: scroll;
    background-color: #333 !important; }
  html .btn-icon {
    width: 30px;
    float: left; }
  html .editor {
    height: inherit;
    margin: 10px !important; }
    html .editor .left,
    html .editor .right {
      height: inherit; }
    html .editor .title {
      float: left; }
    html .editor .subtitle {
      font-size: 20px; }
    html .editor .logs,
    html .editor .output {
      background-color: rgba(95, 98, 117, 0.5); }
    html .editor .input-wrapper {
      height: 75%; }
      html .editor .input-wrapper .input {
        height: 95%;
        min-height: 150px; }
    html .editor .output-wrapper {
      height: 25%; }
      html .editor .output-wrapper .output {
        height: 89%;
        border-radius: 10px;
        color: white;
        padding: 5px 10px;
        overflow: scroll;
        font-family: Consolas, monaco, monospace; }
    html .editor .logs-wrapper {
      margin-top: .5rem;
      height: 65%; }
      html .editor .logs-wrapper .logs {
        height: 100%;
        border-radius: 10px;
        color: cadetblue;
        overflow: scroll; }
        html .editor .logs-wrapper .logs ul {
          display: inline-block; }
        html .editor .logs-wrapper .logs a {
          color: rgba(0, 255, 208, 0.5); }
        html .editor .logs-wrapper .logs #logList {
          margin-top: 10px !important; }
      html .editor .logs-wrapper .log-selected {
        color: #dd7000 !important; }
    html .editor .execute {
      height: 50px;
      border-radius: 5px;
      width: 100%;
      background-color: #494a54;
      color: white; }
    html .editor .execute:active {
      background-color: rgba(0, 255, 208, 0.5); }
    html .editor #snipTitle {
      padding-right: 10px; }
    html .editor .reset-icon {
      z-index: 10000;
      position: fixed;
      left: 94%;
      top: 55px;
      width: 40px; }
    html .editor .reset {
      float: right;
      height: 27px;
      margin-top: 7px;
      font-size: smaller;
      width: 77px; }
      html .editor .reset img {
        width: 12px;
        margin-top: 3px; }
      html .editor .reset span {
        float: right; }
    html .editor .CodeMirror {
      height: 100% !important;
      border-radius: 10px; }

.title-text {
  font-size: 50px;
  color: #76d99e;
  font-family: Consolas, monaco, monospace; }

.register {
  background-color: rgba(220, 220, 220, 0.19);
  border-radius: 10px;
  margin-top: 5%; }
  .register #submitForm {
    margin-bottom: 10px; }
  .register .title {
    text-align: center; }

.logo-welcome {
  width: 250px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding-top: 100px; }

.logo-editor {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 15px;
  padding-bottom: 20px; }

.gopher {
  width: 90px;
  position: relative;
  z-index: 10000;
  left: 92%;
  bottom: 140px; }

.msgs-wrapper {
  position: fixed;
  right: 10px;
  top: 0px; }
  .msgs-wrapper .msg {
    font-size: small;
    font-family: Consolas, monaco, monospace;
    margin-top: 10px;
    height: 70px;
    width: 205px;
    color: white;
    text-align: center;
    border-radius: 5px; }
    .msgs-wrapper .msg .msg-icon {
      width: 40px;
      padding-top: 7px; }
    .msgs-wrapper .msg .msg-text {
      display: block;
      padding: 5px; }
  .msgs-wrapper .error-msg {
    background-color: rgba(230, 74, 74, 0.79); }
  .msgs-wrapper .success-msg {
    background-color: rgba(69, 194, 113, 0.79); }
  .msgs-wrapper span {
    vertical-align: middle; }

label,
.subtitle {
  font-family: Consolas, monaco, monospace;
  color: white; }

/*# sourceMappingURL=main.css.map */
