$background-color: #333;
$title-color: cadetblue;
$subtitle-color: #8c8c8c;
$grey-fill: rgba(95,98, 117, 0.5);
$border-radius: 10px;

html { height: 100%; width: 100%; margin: 0; 

	body { height: 98%; width: inherit; 
		overflow-y: hidden;
		background-color: $background-color!important;
	} 

	.btn-icon { width: 30px; float: left; }

	.editor { height: inherit; margin: 10px!important;

		.left, .right { height: inherit; }

		.title 		{ float: right; }
		.subtitle 	{ font-size: 20px; }

		.logs, .output { background-color: $grey-fill; }

		.input-wrapper { height: 75%; 
			.input { height: 95%; }
		}

		.output-wrapper { height: 25%;
			.output { height: 89%; border-radius: $border-radius; color: white; padding: 5px 10px; }	
		}

		.logs-wrapper { margin-top: .5rem; height: 75.5%;
			.logs { height: 100%; border-radius: $border-radius; color: cadetblue;
				ul { display: inline-block; }
			}
			.log-selected { color: #d00; }
		}

		.execute { height: 50px; border-radius: 5px; width: 100%; }

		.reset { float: right; height: 27px; margin-top: 7px; font-size: smaller; width: 77px;
			img { width: 12px; margin-top: 3px; }
			span { float: right; }
		}

		.CodeMirror { height: 100%!important; border-radius: $border-radius; }
	}
}

.title-text {
	font-size: 50px;
	color: $title-color;
	font-family: Consolas, monaco, monospace;
}

.register { background-color: black; border-radius: $border-radius; margin-top: 15%;
	#submitForm { margin-bottom: 10px; }

	.title { text-align: center; }
}

label, .subtitle {
	font-family: Consolas, monaco, monospace;
	color: $subtitle-color;
}


